{% extends 'base.html' %}

{% block title%} NewsBlog237 | Login  {% endblock %}

{% load crispy_forms_tags %}



 {%  block content %}

<section class="text-11 py-5">
    <div class="text11 py-lg-5 py-md-4">
        <div class="container">




		<form method="POST" action="">
		    {% csrf_token %}
		    {{form|crispy}}
		    <button type="submit" class="btn btn-info">Login </button>
		</form>
<small> Don't Have An Account <a href="{% url 'register'%}"> Create Account</a> </small>




</div>
</div>
</section>






 {%  endblock content%}


